APIKEY=<APIKEY>
AUTHDOMAIN=<AUTHDOMAIN>
DATABASEURL=<DATABASEURL>
PROJECTID=<PROJECTID>
STORAGEBUCKET=<STORAGEBUCKET>
MESSAGINGSENDERID=<MESSAGINGSENDERID>
SERVICEACCOUNTKEYPATH=<path/to/serviceAccountKey.json>